{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="content">
            {% for book in books %}
                <div class="book">
                    <a href="{{ book.pub_date|date:'Y-m-d' }}">
                    <h3>{{ book.name }}</h3></a>
                    <div class="author">{{ book.author }}</div>
                    <div>{{ book.pub_date }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}